{% import_yaml "maps/services/shorewall.yaml" as shorewall %}
{%- set shorewall = salt.grains.filter_by(shorewall, grain='id', default='default') -%}
###############################################################################
#ZONE       HOSTS               OPTIONS
{%- for h in shorewall.hosts %}
{%- set host = shorewall.hosts[h] %}
   {%- set zone = host.zone | default('') %}
   {%- set nic = salt.ifaces.get_iface_name(host.hwaddr) %}
   {%- if nic == None %}
       {%- set nic = 'enp1s0' %} 
   {%- endif %}
   {%- set hosts = ','.join(host.ipaddrs) %}
{{ zone }}     {{ nic }}:{{ hosts }}
{%- endfor %}

