?FORMAT 2
###############################################################################
#ZONE       INTERFACE       OPTIONS
{%- for interface in pillar['shorewall']['interfaces'] | default({}) %}
   {%- set zone = pillar['shorewall']['interfaces'][interface]['zone'] | default('') %}
   {%- set options = pillar['shorewall']['interfaces'][interface]['options'] | default ('-') %}
   {%- set hwaddr = pillar['shorewall']['interfaces'][interface]['hwaddr'] | default('none') %}
   {%- if hwaddr == 'none' %}
       {%- set nic = 'enp1s0' %} 
   {% else %}
       {%- set nic = salt['ifaces.get_iface_name'](hwaddr) %}
   {%- endif %}
{{ zone }}     {{ nic }}     {{ options }}
{%- endfor %}
