{% set map = pillar.map | default('production') %}
{% import_yaml "maps/services/shorewall/shorewall_" + map + ".yaml" as shorewall %}
{%- set shorewall = salt.grains.filter_by(shorewall, grain='id', default='default') -%}
###############################################################################
#SOURCE     DEST        POLICY  LOGLEVEL    RATE    CONNLIMIT
{%- for policy in shorewall.policy %}
   {%- set action = policy['action'] %}
   {%- set source = policy['source'] %}
   {%- set dest = policy['dest'] %}
{{ source }}			{{ dest }}			{{ action }}
{%- endfor %}

