{%- import_yaml "maps/services/shorewall.yaml" as shorewall %}
{%- set shorewall = salt.grains.filter_by(shorewall, grain='id', default='default') -%}
###############################################################################
#ZONE       TYPE        OPTIONS     IN_OPTIONS  OUT_OPTIONS

fw      firewall
{%- for zone in shorewall.zones %}
{{ zone }}	ipv4
{%- endfor %}
