#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

## CIS 5.2.17 Ensure SSH warning banner is configured
Banner /etc/issue.net

Port 22
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
RekeyLimit default none

# Logging
SyslogFacility AUTH
## CIS 5.2.5 Ensure SSH LogLevel is appropriate 
LogLevel VERBOSE

# Authentication:

## CIS 5.2.4 Ensure SSH access is limited 
{%- import_yaml "maps/users/by_os_family.yaml" as osf %}
{%- set osf = salt.grains.filter_by(osf) %}
{%- import_yaml "maps/users/users.yaml" as user_map with context %}
{%- set allowed_users = [] %}
{%- for user in user_map.to_create %}
{%- do allowed_users.append(user) %}
{%- endfor %}
AllowUsers {{ allowed_users | join(' ') }}
## CIS 5.2.21 Ensure SSH LoginGraceTime is set to one minute or less
LoginGraceTime 60
## 5.2.7 Ensure SSH root login is disabled (match for salt ip at end of file)
PermitRootLogin no
StrictModes yes
## CIS 5.2.18 Ensure SSH MaxAuthTries is set to 4 or less
MaxAuthTries 4
## CIS 5.2.19 Ensure SSH MaxStartups is configured
MaxStartups 10:30:60
## CIS 5.2.20 Ensure SSH MaxSessions is set to 10 or less 
MaxSessions 10
## CIS 5.2.22 Ensure SSH Idle Timeout Interval is configured
ClientAliveInterval 300
ClientAliveCountMax 0


## CIS 5.2.10 Ensure SSH PermitUserEnvironment is disabled
PermitUserEnvironment no

PubkeyAuthentication yes
PasswordAuthentication no # scanacct settings at end of file

# Expect .ssh/authorized_keys2 to be disregarded by default in future.
AuthorizedKeysFile	.ssh/authorized_keys 

## CIS 5.2.8 Ensure SSH HostbasedAuthentication is disabled
HostbasedAuthentication no
# Change to yes if you don't trust ~/.ssh/known_hosts for
# HostbasedAuthentication
IgnoreUserKnownHosts yes
## CIS 5.2.11 Ensure SSH IgnoreRhosts is enabled
# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes

## CIS 5.2.9 Ensure SSH PermitEmptyPasswords is disabled
# To disable tunneled clear text passwords, change to no here!
PermitEmptyPasswords no

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
ChallengeResponseAuthentication no  

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. 
## CIS 5.2.6 Ensure SSH PAM is enabled 
UsePAM yes

#AllowAgentForwarding yes
## CIS 5.2.16 Ensure SSH AllowTcpForwarding is disabled 
AllowTcpForwarding no
#GatewayPorts no
## 5.2.12 Ensure SSH X11 forwarding is disabled 
X11Forwarding no
PrintMotd no
UseDNS yes

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
{% if grains.os_family == 'RedHat' %}
Subsystem sftp	/usr/libexec/openssh/sftp-server
{% else %}
Subsystem sftp	/usr/lib/openssh/sftp-server
{% endif %}

# Restrict key exchange, cipher, and MAC algorithms, as per sshaudit.com
# hardening guide.
## CIS 5.2.15 Ensure only strong Key Exchange algorithms are used
KexAlgorithms diffie-hellman-group-exchange-sha256,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256
## CIS 5.2.13 Ensure only strong Ciphers are used
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
## CIS 5.2.14 Ensure only strong MAC algorithms are used
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
{% if not ( grains.os_family == 'RedHat' and grains.osmajorrelease < 8 ) %}
HostKeyAlgorithms ssh-ed25519,ssh-ed25519-cert-v01@openssh.com
{% else %}
HostKeyAlgorithms ssh-ed25519,ssh-ed25519-cert-v01@openssh.com,sk-ssh-ed25519@openssh.com,sk-ssh-ed25519-cert-v01@openssh.com,rsa-sha2-256,rsa-sha2-512,rsa-sha2-256-cert-v01@openssh.com,rsa-sha2-512-cert-v01@openssh.com
{% endif %}

Include sshd_config.d/*
