//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

{%- import_yaml "maps/pkg_data/" + grains.os_family | lower + ".yaml" as pkg_data %}
{%- import_yaml "maps/services/bind9/" + pillar.bind_map | default('bind9') + ".yaml" as b9 %}

{%- if 'localnets' in b9 %}
acl query_allowed {
{%- for network in b9.localnets %}
    {{ network }};
{%- endfor %}
};
{%- endif %}

options {
        listen-on port 53 { any; };
        listen-on-v6 port 53 { any; };
        directory       "/var/named";
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        secroots-file   "/var/named/data/named.secroots";
        recursing-file  "/var/named/data/named.recursing";
        allow-query { {{ 'query_allowed' if 'localnets' in b9 | default(False) else 'any' }}; };
        recursion {{ 'yes' if b9.recursion | default(False) else 'no' }};

        dnssec-validation {{ 'yes' if b9.dnssec_validation | default(False) else 'no' }};

        managed-keys-directory "/var/named/dynamic";
        geoip-directory "/usr/share/GeoIP";

        pid-file "/run/named/named.pid";
        session-keyfile "/run/named/session.key";

        /* https://fedoraproject.org/wiki/Changes/CryptoPolicy */
        include "/etc/crypto-policies/back-ends/bind.config";
};

// heavy logging
logging {
    channel default_syslog {
        syslog local7;
        severity {{ b9.log_level if 'loglevel' in b9 | default(False) else 'info' }};
    };
    category queries { default_syslog; };
    category resolver { default_syslog; };
    category client { default_syslog; };
    category lame-servers {    null; };
};

zone "." IN { 
        type hint;
        file "named.ca";
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";

{% if 'zones' in pillar.named %}
{%- for zone_name in pillar.named.zones | default([]) %}
{%- set zone = b9.zones[zone_name] | default({'role': 'forwarder'}) %}
{%- if zone.role | default('master') | lower in ['master', 'slave'] %}
include "{{pkg_data.named.conf_dir}}/{{zone_name}}-transfer-key";
{%- endif %}
{%- if zone.role | default('master') | lower == 'master' and
       'allow_updates' in zone and zone.allow_updates | default(False) %}
include "{{pkg_data.named.conf_dir}}/{{zone_name}}-update-key";
{%- endif %}
include "{{pkg_data.named.conf_dir}}/{{zone_name}}-def.zone";
{% endfor %}
{%- endif %}

