{% set location = pillar['location'] %}
{% set domain = pillar[location + '_domain'] %}

[default]
aws_access_key_id = {{ pillar['aws'][domain]['aws_access_key_id'] }}
aws_secret_access_key = {{ pillar['aws'][domain]['aws_secret_access_key'] }}
