{%- if pillar['register_dns'] | default(False) %}
{%- set hostname = grains.id.split('.')[0] %}
{%- set ip = grains['ipv4'] | difference(['127.0.0.1']) | last %}
{%- set location = pillar['location'] | default('internal') %}
{%- set domain = pillar[location + "_domain"] | default('local') -%}
{{ hostname }}.{{ domain }}
--key
{{ pillar['godaddy'][domain]['key'] }}
--secret
{{ pillar['godaddy'][domain]['secret'] }}
--ip
{{ ip }}
{%- endif %}
