{%- if pillar.get('register_dns', False) %}
{%- set hostname = grains.id.split('.')[0] %}
{%- set ip = grains['ipv4'] | difference(['127.0.0.1']) | last %}
{%- set domain_type = pillar.get('location', 'internal') %}
{%- set domain = salt['pillar.get'](domain_type + "_domain") -%}
{{ hostname }}.{{ domain }}
--key
{{ pillar['godaddy'][domain]['key'] }}
--secret
{{ pillar['godaddy'][domain]['secret'] }}
--ip
{{ ip }}
{%- endif %}
