{%- set location = pillar['location'] %}
{%- set domain = pillar[location + '_domain'] %}
[default]
api_key = {{ pillar['godaddy'][domain]['key'] }}
api_secret = {{ pillar['godaddy'][domain]['secret'] }}

