{%- set hostname = grains.id.split('.')[0] %}
{%- set domainname = grains['domain'] %}
--- ssl.conf	2022-11-29 16:02:55.529351990 -0300
+++ /etc/httpd/conf.d/ssl.conf	2022-11-29 16:05:22.026813870 -0300
@@ -4,7 +4,24 @@
         ServerAdmin {{ pillar['contact'] }}
         ServerName {{ hostname }}.{{ domainname }}
 
-        DocumentRoot /var/www/html
+        Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"
+        DocumentRoot /var/www/nextcloud
+
+        <location />
+            <LimitExcept GET POST HEAD PUT PROPFIND>
+                deny from all
+            </LimitExcept>
+        </location>
+
+        <Directory /var/www/nextcloud/>
+          Require all granted
+          AllowOverride All
+          Options FollowSymLinks MultiViews
+
+          <IfModule mod_dav.c>
+            Dav off
+          </IfModule>
+        </Directory>
 
         ErrorLog {{ pillar['pkg_data']['apache']['log_dir'] }}/{{ pillar['pkg_data']['apache']['error_log'] }}
         CustomLog {{ pillar['pkg_data']['apache']['log_dir'] }}/{{ pillar['pkg_data']['apache']['access_log'] }} combined

