#!/bin/bash
#
{%- set ns = namespace(protocol='http') %}
{%- if pillar['elasticsearch'] is defined and 
       pillar['elasticsearch']['ssl_enable'] | default(False) %}
   {%- set ns.protocol = 'https' %}
{%- endif %}
#
{%- if pillar['elasticsearch'] is defined and 
       pillar['elasticsearch']['auth'] | default(False) %}
echo -e "==== apm_system ==="
curl -k -s -XGET {{ ns.protocol }}://apm_system:{{ pillar['elasticsearch']['passwords']['apm_system'] }}@localhost:9200 
echo -e "\n==== kibana_system ==="
curl -k -s -XGET {{ ns.protocol }}://kibana_system:{{ pillar['elasticsearch']['passwords']['kibana_system'] }}@localhost:9200 
echo -e "\n==== beats_system ==="
curl -k -s -XGET {{ ns.protocol }}://beats_system:{{ pillar['elasticsearch']['passwords']['beats_system'] }}@localhost:9200 
echo -e "\n==== elastic ==="
curl -k -s -XGET {{ ns.protocol }}://elastic:{{ pillar['elasticsearch']['passwords']['elastic'] }}@localhost:9200 
echo
{%- else %}
curl -k -s -XGET {{ ns.protocol }}://localhost:9200
{%- endif %}

