{%- import_yaml "maps/pkg_data/" + grains.os_family | lower + ".yaml" as pkg_data %}
[Unit]
Description=Aide Check

[Service]
Type=simple
ExecStart={{ pkg_data.aide.aide_cmd }} --config {{ pkg_data.aide.conf }} --check

[Install]
WantedBy=multi-user.target
