#!jinja|yaml
{%- set hostname = grains['id'].split('.')[0] %}
{%- if pillar['elasticsearch'] is defined and
       pillar['elasticsearch']['cluster_name'] is defined %}
    {%- set cluster_name = pillar['elasticsearch']['cluster_name'] %}
{%- else %}
    {%- set cluster_name = 'elasticsearch' %}
{%- endif %}
cluster.name: {{ cluster_name }} 
node.name: {{ hostname }}
node.roles: [ master, data ]

#
action.auto_create_index: false

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

{%- if pillar['elasticsearch'] is defined and
       pillar['elasticsearch']['listenaddress'] is defined %}
    {%- set listenaddress = pillar['elasticsearch']['cluster_name'] %}
{%- else %}
    {%- set listenaddress = '127.0.0.1' %}
{%- endif %}
network.host: {{ listenaddress }}
http.port: 9200
http.max_warning_header_count: -1

discovery.type: single-node
{%- if pillar['elasticsearch'] is defined and 
       pillar['elasticsearch']['ssl_enable'] | default(False) %}

xpack.security.enabled: true

xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.key: /etc/elasticsearch/ssl/privkey.pem
xpack.security.transport.ssl.certificate: /etc/elasticsearch/ssl/fullchain.pem
xpack.security.transport.ssl.certificate_authorities: [ '/etc/elasticsearch/ssl/chain.pem' ]

xpack.security.http.ssl.enabled: true
xpack.security.http.ssl.verification_mode: certificate
xpack.security.http.ssl.key: /etc/elasticsearch/ssl/privkey.pem
xpack.security.http.ssl.certificate: /etc/elasticsearch/ssl/fullchain.pem
xpack.security.http.ssl.certificate_authorities: [ '/etc/elasticsearch/ssl/chain.pem' ]
{%- else %}
#
# TODO: set xpack security
xpack.security.http.ssl.enabled: False
xpack.security.transport.ssl.enabled: False
xpack.security.enabled: false
{%- endif %}
