{%- import_yaml "maps/pkg_data/" + grains.os_family | lower + ".yaml" as pkg_data %}
# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# Where and how to store data.
storage:
      dbPath: {{ pkg_data.mongodb.data_dir }}
#  engine:
#  mmapv1:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log

# network interfaces
net:
  port: 27017
  bindIp: 0.0.0.0
  unixDomainSocket:
    enabled: true
    pathPrefix: /tmp
    filePermissions: 0744
{%- if pillar['mongodb'] is defined and
       pillar['mongodb']['ssl_enable'] | default(False) %}
  tls:
    mode: preferTLS # alterar para requireTLS mais tarde
    CAFile: /etc/mongodb/chain.pem
    certificateKeyFile: /etc/mongodb/cert+key.pem
    disabledProtocols: TLS1_0,TLS1_1
    allowConnectionsWithoutCertificates: true
setParameter:
  ocspEnabled: false
{%- endif %}

# how the process runs
processManagement:
  fork: true  # fork and run in background
  timeZoneInfo: /usr/share/zoneinfo

{% if grains['flag_mongodb_acctl_set'] | default(False) %}

security.authorization: enabled
{%- else %}
#security:
{%- endif %}

#operationProfiling:

#replication:

#sharding:

## Enterprise-Only Options:

#auditLog:

#snmp:
