###########################################################################
#
# snmpd.conf
#
###########################################################################
# SECTION: System Information Setup
#

# syslocation: The [typically physical] location of the system.
sysLocation    {{ pillar.address | default('') }}
sysContact     {{ pillar.contact | default('none@example.com') }}
# sysservices: The proper value for the sysServices object.
sysServices    72



###########################################################################
# SECTION: Agent Operating Mode
# master: Should the agent operate as a master agent or not.
master  agentx

###########################################################################
# SECTION: Access Control Setup
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1

# rocommunity: a SNMPv1/SNMPv2c read-only access community name
# Read-only access to everyone to the systemonly view
{% for snmpd_client in pillar.snmpd.v2clients | default([]) %}
rocommunity  {{ pillar.snmpd.v2community }} {{ snmpd_client }}/32
{% endfor %}

{% for snmpd_client in pillar.snmpd.v2clients_ipv6 | default([]) %}
rocommunity  {{ pillar.snmpd.v2community }} {{ snmpd_client }}/64
{% endfor %}

# v3 user definition and permissions
createUser {{ pillar.snmpd.v3user }} SHA-512 {{ pillar.snmpd.v3authpassphrase }} AES {{ pillar.snmpd.v3privpassphrase }}
rouser {{ pillar.snmpd.v3user }} authpriv

