# 
# generic - Postfix generic table format
# 

{%- set hostname = grains.id.split('.')[0] %}
{%- set internal_domain = salt['pillar.get']('internal_domain', 'local') %}
{%- set external_domain = salt['pillar.get']('external_domain', 'local') %}
{%- set sender = pillar['postfix']['sender_canonical'] %}
@{{ hostname }}.{{ internal_domain }} {{ sender }}
@{{ internal_domain }} {{ sender }}
{%- if internal_domain != external_domain %} 
@{{ hostname }}.{{ external_domain }} {{ sender }}
@{{ external_domain }} {{ sender }}
{%- endif %}

